<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>users</title>
  </head>
  <body>
    <ul>
      <% if(userN.length > 0){%> <% for (let userNa of userN) { %>
      <ul>
        <%= userNa.username %>
      </ul>
      <% %> <% }};%>
    </ul>
  </body>
</html>
